@import "~bootstrap/dist/css/bootstrap.css";



@media all and (max-width:700px) {
    .need-hide{
        display:none;
    }
 }
 
 .full-img {
    background-image: url("https://source.unsplash.com/random");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}